<ul class="navigation">
<img src="/images/Carkeeper.png" alt="logo">

	<li><a href='/'>
		<h2>Home</h2>
		<p>Car Keeper</p>
	</a></li>
	<li><a href=<%= car_search_path %>>
		<h2>Search</h2>
		<p>Advanced Search</p>
	</a></li>
	<li>
		<h2>About</h2>
		<p>Who we are</p>
	</li>

        <% if @luser == nil %>
	<li><a href=<%= new_user_session_path %>>
		<h2>Sign-in</h2>
		<p>Login</p>	        
	</a></li>
       	<% else %>
	<li><a href=<%= edit_user_path(@luser) %>>
                <h2><%= @luser.login%></h2>
                <p>Pofile Setting</p>
        </a></li>
       	<% end %>

        <% if @luser != nil %>
	<% if @luser.admin %>
        <li><a href=<%= users_path %>>
                <h2>Administrator</h2>
                <p>User Management</p>
        </a></li>
        <% end %>
        <% end %>

        <% if @luser != nil %>
        <li><a href=<%= logout_path %>>
                <h2>Sign-out</h2>
                <p>Logout</p>
        </a></li>
        <% else %>
        <li><a href=<%= new_user_path %>>
                <h2>Sign-up</h2>
                <p>Registration</p>
        </a></li>
        <% end %>
</ul>
<h1>Editing user</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
