<img src="images/Carkeeper.png" alt="logo">
<table>
  <tr>
    <td><% if @user == nil %>
	<%= 'User Login' %>
	<%= link_to 'Login', new_user_session_path %>
	<% else %>
	<%= 'Welcome' %>
	<%= @user.login%>
	<%= link_to 'Logout', :logout %>
	<% end %></td>
  </tr>
</table>

<h1>Listing users</h1>
<table>
  <tr>
    <th>Login</th>
    <th>First</th>
    <th>Last</th>
    <th>Mobile</th>
    <th>Tel</th>
    <th>Address</th>
    <th>Id</th>
    <th>Mail</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @users.each do |user| %>
  <tr>
    <td><%= user.login %></td>
    <td><%= user.first %></td>
    <td><%= user.last %></td>
    <td><%= user.mobile %></td>
    <td><%= user.tel %></td>
    <td><%= user.address %></td>
    <td><%= user.id %></td>
    <td><%= user.mail %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
