<ul class="navigation">
<img src="/images/Carkeeper.png" alt="logo">

	<li><a href='/'>
		<h2>Home</h2>
		<p>Car Keeper</p>
	</a></li>
	<li>
		<h2>Search</h2>
		<p>Advanced Search</p>
	</li>
	<li>
		<h2>About</h2>
		<p>Who we are</p>
	</li>

        <% if @user == nil %>
	<li><a href=<%= new_user_session_path %>>
		<h2>Sign-in</h2>
		<p>Login</p>	        
	</a></li>
       	<% else %>
	<li><a href=<%= edit_user_path(@user) %>>
                <h2><%= @user.login%></h2>
                <p>Pofile Setting</p>
        </a></li>
       	<% end %>

        <% if @user != nil %>
	<% if @user.admin %>
        <li><a href=<%= users_path %>>
                <h2>Administrator</h2>
                <p>User Management</p>
        </a></li>
        <% end %>
        <% end %>

        <% if @user != nil %>
        <li><a href=<%= logout_path %>>
                <h2>Sign-out</h2>
                <p>Logout</p>
        </a></li>
        <% else %>
        <li><a href=<%= new_user_path %>>
                <h2>Sign-up</h2>
                <p>Registration</p>
        </a></li>
        <% end %>
</ul>

<table>
  <tr>
    <td><% if @user == nil %>
	<%= 'User Login' %>
	<%= link_to 'Login', new_user_session_path %>
	<%= link_to 'Signup', new_user_path %>
	<% else %>
	<%= 'Welcome' %>
	<%= @user.login%>
	<%= link_to 'Logout', :logout %>
	<% end %></td>
  </tr>
</table>

<h1>Listing users</h1>
<table>
  <tr>
    <th>Login</th>
    <th>First</th>
    <th>Last</th>
    <th>Mobile</th>
    <th>Tel</th>
    <th>Address</th>
    <th>Id</th>
    <th>Mail</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% if @user.admin %>
<% @users.each do |user| %>
  <tr>
    <td><%= user.login %></td>
    <td><%= user.first %></td>
    <td><%= user.last %></td>
    <td><%= user.mobile %></td>
    <td><%= user.tel %></td>
    <td><%= user.address %></td>
    <td><%= user.mail %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
<% else %>
<tr>
    <td><%= @user.login %></td>
    <td><%= @user.first %></td>
    <td><%= @user.last %></td>
    <td><%= @user.mobile %></td>
    <td><%= @user.tel %></td>
    <td><%= @user.address %></td>
    <td><%= @user.mail %></td>
    <td><%= link_to 'Show', @user %></td>
    <td><%= link_to 'Edit', edit_user_path(@user) %></td>
    <td><%= link_to 'Destroy', @user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>

<% end %>
</table>
