<p id="notice"><%= notice %></p>

Login: <%=h @user.login %>

<p>
  <b>Mail:</b>
  <%= @user.mail %>
</p>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Logout', :logout %> |
<%= link_to 'Back', users_path %>
