<h1>Listing cmodels</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Brand</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cmodels.each do |cmodel| %>
  <tr>
    <td><%= cmodel.name %></td>
    <td><%= cmodel.brand_id %></td>
    <td><%= link_to 'Show', cmodel %></td>
    <td><%= link_to 'Edit', edit_cmodel_path(cmodel) %></td>
    <td><%= link_to 'Destroy', cmodel, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cmodel', new_cmodel_path %>
