<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @cmodel.name %>
</p>

<p>
  <b>Brand:</b>
  <%= @cmodel.brand_id %>
</p>


<%= link_to 'Edit', edit_cmodel_path(@cmodel) %> |
<%= link_to 'Back', cmodels_path %>
