<h1>Listing cbrands</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cbrands.each do |cbrand| %>
  <tr>
    <td><%= cbrand.name %></td>
    <td><%= link_to 'Show', cbrand %></td>
    <td><%= link_to 'Edit', edit_cbrand_path(cbrand) %></td>
    <td><%= link_to 'Destroy', cbrand, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cbrand', new_cbrand_path %>
