<img src="images/Carkeeper.png" alt="logo">
<table>
  <tr>
    <td><% if @user == nil %>
        <%= 'User Login' %>
        <%= link_to 'Login', new_user_session_path %>
        <% else %>
        <%= 'Welcome' %>
        <%= @user.login%>
        <%= link_to 'Logout', :logout %>
        <% end %></td>
  </tr>
</table>

<h1>Listing cars</h1>

<table>
  <tr>
    <th>Datein</th>
    <th>Brand</th>
    <th>Carmodel</th>
    <th>Year</th>
    <th>Cc</th>
    <th>Used</th>
    <th>Km</th>
    <th>User</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cars.each do |car| %>
  <tr>
    <td><%= car.datein %></td>
    <td><%= car.brand %></td>
    <td><%= car.carmodel %></td>
    <td><%= car.year %></td>
    <td><%= car.cc %></td>
    <td><%= car.used %></td>
    <td><%= car.km %></td>
    <td><%= User.find(car.user_id).login %></td>
    <td><%= car.comment %></td>
    <td><%= link_to 'Show', car %></td>
    <td><%= link_to 'Edit', edit_car_path(car) %></td>
    <td><%= link_to 'Destroy', car, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Car', new_car_path %>
