<ul class="navigation">
<img src="/images/Carkeeper.png" alt="logo">

	<li><a href='/'>
		<h2>Home</h2>
		<p>Car Keeper</p>
	</a></li>
	<li>
		<h2>Search</h2>
		<p>Advanced Search</p>
	</li>
	<li>
		<h2>About</h2>
		<p>Who we are</p>
	</li>

        <% if @luser == nil %>
	<li><a href=<%= new_user_session_path %>>
		<h2>Sign-in</h2>
		<p>Login</p>	        
	</a></li>
       	<% else %>
	<li><a href=<%= edit_user_path(@luser) %>>
                <h2><%= @luser.login%></h2>
                <p>Pofile Setting</p>
        </a></li>
       	<% end %>

        <% if @luser != nil %>
	<% if @luser.admin %>
        <li><a href=<%= users_path %>>
                <h2>Administrator</h2>
                <p>User Management</p>
        </a></li>
        <% end %>
        <% end %>

        <% if @luser != nil %>
        <li><a href=<%= logout_path %>>
                <h2>Sign-out</h2>
                <p>Logout</p>
        </a></li>
        <% else %>
        <li><a href=<%= new_user_path %>>
                <h2>Sign-up</h2>
                <p>Registration</p>
        </a></li>
        <% end %>
</ul>


<table>
  <tr>
    <td><% if @luser == nil %>
        <%= 'User Login' %>
        <%= link_to 'Login', new_user_session_path %>
	<%= link_to 'Signup', new_user_path %>
        <% else %>
        <%= 'Welcome' %>
        <%= @luser.first %> <%= @luser.last %>
        <%= link_to 'Logout', :logout %>
        <% end %></td>
  </tr>
</table>

<h1>Listing cars</h1>

<table>
  <tr>
    <th>Datein</th>
    <th><%= link_to 'Brand', cars_path(:sort=>"brand") %></th>
    <th><%= link_to 'Car Model', cars_path(:sort=>"carmodel") %></th>
    <th><%= link_to 'Year', cars_path(:sort=>"year") %></th>
    <th><%= link_to 'Cc', cars_path(:sort=>"cc") %></th>
    <th>Used</th>
    <th><%= link_to 'KMs', cars_path(:sort=>"km") %></th>
    <th>User</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cars.each do |car| %>
<tr>
    <td><%= car.datein %></td>
    <td><%= car.brand %></td>
    <td><%= car.carmodel %></td>
    <td><%= car.year %></td>
    <td><%= car.cc %></td>
    <td><%= car.used %></td>
    <td><%= car.km %></td>
    <td><%= User.find(car.user_id).login %></td>
    <td><%= car.comment %></td>
    <td><%= link_to 'Show', car %></td>
    <td><% if @luser != nil %>
	<% if car.user_id == @luser.id %>
        <%= link_to 'Edit', edit_car_path(car) %>
	<% end %>
	<% end %></td>
    <td><% if @luser != nil %>
	<% if car.user_id == @luser.id %>
	<%= link_to 'Destroy', car, confirm: 'Are you sure?', method: :delete %>
	<% end %>
	<% end %></td>
  </tr>
<% end %>
</table>

<% @cars.each do |car| %>
<ul class="car">
<li><a href= <%= car_path(car)%>><table>
 <tr>
  <td width=100px align=center valign=middle><%= image_tag car.pic.url (:thumb) %></td>
  <td>Publish: <%= car.datein %>
   <table>
    <tr>
     <td width=500px>Brand: <%= car.brand %></td>
     <td width=500px>Model: <%= car.carmodel %></td>
     <td width=500px>Condition: <% if car.used %> Used (<%= car.km %>KM)<% else %> New <% end %><td>
    </tr>
    <tr>
     <td>CC: <%= car.cc %>CC</td>
     <td></td>
     <td>Manfacture Year: <%= car.year %></td>
    </tr>
    <tr>
     <td>Publisher: <%= User.find(car.user_id).first %> <%= User.find(car.user_id).last %></td>
     <td>Mobile: <%= User.find(car.user_id).mobile %></td>
     <td></td>
    </tr>
   </table>
Comments: <%= car.comment %></td></tr></table></a></li>
</ul>
<% end %>

<br />

<% if @luser != nil %>
<%= link_to 'New Car', new_car_path %>
<% end %>
