<ul class="navigation">
<img src="/images/Carkeeper.png" alt="logo">

	<li><a href='/'>
		<h2>Home</h2>
		<p>Car Keeper</p>
	</a></li>
	<li><a href=<%= car_search_path %>>
		<h2>Search</h2>
		<p>Advanced Search</p>
	</a></li>
	<li><a href=<%= about_path %>>
		<h2>About</h2>
		<p>Who we are</p>
	</a></li>

        <% if @luser == nil %>
	<li><a href=<%= new_user_session_path %>>
		<h2>Sign-in</h2>
		<p>Login</p>	        
	</a></li>
       	<% else %>
	<li><a href=<%= edit_user_path(@luser) %>>
                <h2><%= @luser.login%></h2>
                <p>Pofile Setting</p>
        </a></li>
       	<% end %>

        <% if @luser != nil %>
	<% if @luser.admin %>
        <li><a href=<%= users_path %>>
                <h2>Administrator</h2>
                <p>User Management</p>
        </a></li>
        <% end %>
        <% end %>

        <% if @luser != nil %>
        <li><a href=<%= logout_path %>>
                <h2>Sign-out</h2>
                <p>Logout</p>
        </a></li>
        <% else %>
        <li><a href=<%= new_user_path %>>
                <h2>Sign-up</h2>
                <p>Registration</p>
        </a></li>
        <% end %>
</ul>

<br>
<h1>Listing cars</h1>
<br>
<table>
  <tr>
    <% if @luser != nil %>
    <th width=100px><ul class="digg_pagination" align=center><%= link_to 'Add A Car', new_car_path %></ul></th>
    <% end %>
    <% if @luser != nil %>
    <th width=120px><ul class="digg_pagination" align=center><%= link_to 'Show All Cars', "/" %></ul></th>
    <% end %>
    <% if @luser != nil %>
    <th width=120px><ul class="digg_pagination" align=center><%= link_to 'Show My Cars', cars_path(:me=>@luser.id) %></ul></th>
    <% end %>
    <th width=70px>Sort by:</th>
    <th width=70px><%= link_to 'Date', cars_path(:sort=>"datein") %></th>
    <th width=70px><%= link_to 'Brand', cars_path(:sort=>"brand") %></th>
    <th width=70px><%= link_to 'Car Model', cars_path(:sort=>"carmodel") %></th>
    <th width=70px><%= link_to 'Year', cars_path(:sort=>"year") %></th>
    <th width=70px><%= link_to 'CC', cars_path(:sort=>"cc") %></th>
    <th width=70px><%= link_to 'KMs', cars_path(:sort=>"km") %></th>
  </tr>
</table>

<% @cars.each do |car| %>
<ul class="car">
<table>
 <tr>
  <td width=100px align=center valign=middle><%= image_tag car.pic.url (:thumb) %></td>
  <td>
<li><a href= <%= car_path(car)%>><table>
    <tr>
     <td width=500px>Publish: <%= car.datein %></td>
    </tr>
    <tr>
     <td width=500px>Brand: <%= car.brand %></td>
     <td width=500px>Model: <%= car.carmodel %></td>
     <td width=500px>Condition: <% if car.used %> Used (<%= car.km %>KM)<% else %> New <% end %><td>
    </tr>
    <tr>
     <td>CC: <%= car.cc %>CC</td>
     <td></td>
     <td>Manfacture Year: <%= car.year %></td>
    </tr>
    <tr>
     <td>Publisher: <%= User.find(car.user_id).first %> <%= User.find(car.user_id).last %></td>
     <td>Mobile: <%= User.find(car.user_id).mobile %></td>
     <td>Price: <%= car.price %></td>
    </tr>
   </table></a></li>
Comments: <%= car.comment %></td>
     <td><table>
       <tr>
	<% if @luser != nil %>
        <% if car.user_id == @luser.id %>
        <th width=100px><ul class="digg_pagination" align=center><%= link_to 'Edit', edit_car_path(car) %></ul></th>
        <% end %>
        <% end %>
       </tr>
       <tr>
	<% if @luser != nil %>
        <% if car.user_id == @luser.id %>
	<th width=100px><ul class="digg_pagination" align=center><%= link_to 'Destroy', car, confirm: 'Are you sure?', method: :delete %></ul></th>
	<% end %>
        <% end %>
       </tr></table>
      </td>
</tr></table></ul>
<% end %>

<br />
<ul class="digg_pagination"><%= will_paginate @cars, :param_name => 'car_page' %></ul>
<% if @luser != nil %>
<% end %>
