<ul class="navigation">
<img src="/images/Carkeeper.png" alt="logo">

	<li><a href='/'>
		<h2>Home</h2>
		<p>Car Keeper</p>
	</a></li>
	<li><a href=<%= car_search_path %>>
		<h2>Search</h2>
		<p>Advanced Search</p>
	</a></li>
	<li><a href=<%= about_path %>>
		<h2>About</h2>
		<p>Who we are</p>
	</a></li>

        <% if @luser == nil %>
	<li><a href=<%= new_user_session_path %>>
		<h2>Sign-in</h2>
		<p>Login</p>	        
	</a></li>
       	<% else %>
	<li><a href=<%= edit_user_path(@luser) %>>
                <h2><%= @luser.login%></h2>
                <p>Pofile Setting</p>
        </a></li>
       	<% end %>

        <% if @luser != nil %>
	<% if @luser.admin %>
        <li><a href=<%= users_path %>>
                <h2>Administrator</h2>
                <p>User Management</p>
        </a></li>
        <% end %>
        <% end %>

        <% if @luser != nil %>
        <li><a href=<%= logout_path %>>
                <h2>Sign-out</h2>
                <p>Logout</p>
        </a></li>
        <% else %>
        <li><a href=<%= new_user_path %>>
                <h2>Sign-up</h2>
                <p>Registration</p>
        </a></li>
        <% end %>
</ul>
<ul class="login">
<li>
<h1>Car Search</h1>
<%= form_tag cars_path(:sort=>"datein") , :method => 'get' do %>

    <%= label_tag :brand %>
    <%= text_field_tag :brand, params[:brand] %> </br>
    <%= label_tag :cmodel %>
    <%= text_field_tag :cmodel, params[:cmodel] %> </br>
    <%= label_tag :used %>
    <%= text_field_tag :used, params[:used] %> </br>
    <%= label_tag :year %>
    <%= text_field_tag :year, params[:year] %> </br>
    <%= label_tag :Price %>
    <%= text_field_tag :price, params[:price] %> </br>
<%= submit_tag "Search", :sort => "datein" %>
</li>
</ul>



<% end %>

<%= link_to 'Back', cars_path %>
