<ul class="navigation">
<img src="/images/Carkeeper.png" alt="logo">

	<li><a href='/'>
		<h2>Home</h2>
		<p>Car Keeper</p>
	</a></li>
	<li><a href=<%= car_search_path %>>
		<h2>Search</h2>
		<p>Advanced Search</p>
	</a></li>
	<li>
		<h2>About</h2>
		<p>Who we are</p>
	</li>

        <% if @luser == nil %>
	<li><a href=<%= new_user_session_path %>>
		<h2>Sign-in</h2>
		<p>Login</p>	        
	</a></li>
       	<% else %>
	<li><a href=<%= edit_user_path(@luser) %>>
                <h2><%= @luser.login%></h2>
                <p>Pofile Setting</p>
        </a></li>
       	<% end %>

        <% if @luser != nil %>
	<% if @luser.admin %>
        <li><a href=<%= users_path %>>
                <h2>Administrator</h2>
                <p>User Management</p>
        </a></li>
        <% end %>
        <% end %>

        <% if @luser != nil %>
        <li><a href=<%= logout_path %>>
                <h2>Sign-out</h2>
                <p>Logout</p>
        </a></li>
        <% else %>
        <li><a href=<%= new_user_path %>>
                <h2>Sign-up</h2>
                <p>Registration</p>
        </a></li>
        <% end %>
</ul>
<p id="notice"><%= notice %></p>
<ul class="login">
<li>
<p>
  <b>Datein:</b>
  <%= @car.datein %>
</p>
<%= image_tag @car.pic.url %></b>
<p>
  <b>Brand:</b>
  <%= @car.brand %>
</p>

<p>
  <b>Carmodel:</b>
  <%= @car.carmodel %>
</p>

<p>
  <b>Year:</b>
  <%= @car.year %>
</p>

<p>
  <b>Cc:</b>
  <%= @car.cc %>
</p>

<p>
  <b>Used:</b>
  <%= @car.used %>
</p>

<p>
  <b>Km:</b>
  <%= @car.km %>
</p>

<p>
  <b>User:</b>
  <%= User.find(@car.user_id).login %>
</p>

<p>
  <b>Mobile:</b>
  <%= User.find(@car.user_id).mobile %>
</p>

<p>
  <b>E-Mail:</b>
  <%= User.find(@car.user_id).mail %>
</p>
<p>
  <b>Price:</b>
  <%= @car.price %>
</p>
<p>
  <b>Comment:</b>
  <%= @car.comment %>
</p>

<table><tr>
    <% if @luser != nil %>
    <% if @car.user_id == @luser.id %>	
	<th width=120px><ul class="digg_pagination" align=center><%= link_to 'Edit', edit_car_path(@car) %></ul></th>
    <% end %>
    <% end %>
    <% if @luser != nil %>
    <% if @car.user_id == @luser.id %>
	<th width=100px><ul class="digg_pagination" align=center><%= link_to 'Destroy', @car, confirm: 'Are you sure?', method: :delete %></ul></th>
    <% end %>
    <% end %>
<th width=120px><ul class="digg_pagination" align=center><%= link_to 'Back', cars_path %></ul></th>
</tr></table>
</li></ul>
